#orgMemsDTT
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	background: #fff;
	border-collapse: collapse;
	text-align: left;
}
#orgMemsDTT th
{
	font-size: 14px;
	font-weight: normal;
	color: #205A25;
	padding: 10px 8px;
	border-bottom: 2px solid #1fa67b;
}
#orgMemsDTT td
{
	color: #205A25;
	padding: 9px 8px 0px 8px;
}
#orgMemsDTT tbody tr:hover td
{
	color: #1fa67b;
}